<div class="container">
  <h1 style="text-align: center;">Récap des évenements organisés</h1><br/>
  <table class="table">
    <thead>
    <tr>
      <th>libelle</th>
      <th>date de l'évenement</th>
      <th>lieu</th>
      <th>actions</th>
    </tr>
    </thead>
    <tbody>
      <tr *ngFor="let evenement of apiEvenementList" routerLink="/evenement/{{evenement.id}}">
        <td>{{evenement.name}}</td>
        <td>{{evenement.date}}</td>
        <td>{{evenement.place}}</td>
      </tr>
    </tbody>
  </table>
</div>
