<div class="container">
  <h1>Récap des évenements organisés</h1><br/>
  <div class="table-responsive row">
    <table class="table table-hover">
      <thead class="thead-light">
      <tr>
        <th class="col-3">libelle</th>
        <th class="col-2">date de l'évenement</th>
        <th class="col-3">lieu</th>
        <th class="col-2">nombre de participants</th>
        <th class="col-2">total en euros</th>
      </tr>
      </thead>
      <tbody>
      <tr *ngFor="let evenement of apiEvenementList" routerLink="/evenement/{{evenement.id}}">
        <td>{{evenement.name}}</td>
        <td>{{evenement.date}}</td>
        <td>{{evenement.place}}</td>
        <td>{{evenement.participantNumber}}</td>
        <td>{{evenement.total}}</td>
      </tr>
      </tbody>
    </table>
  </div>
  <div class="container-fluid">
    <button type="submit" class="btn btn-outline-primary float-end" (click)="redirectToAddEvent()">Ajouter</button>
  </div>
</div>
