<div class="container">
  <h1 style="text-align: center;">Récap des évenements organisés</h1><br/>
  <table class="table">
    <thead>
    <tr>
      <th>libelle</th>
      <th>date_creation</th>
      <th>lieu</th>
      <th>actions</th>
    </tr>
    </thead>
    <tbody>
    <tr *ngFor="let evenement of apiEvenementList">
      <td>{{evenement.libelle}}</td>
      <td>{{evenement.date_creation}}</td>
      <td>{{evenement.lieu}}</td>
      <td>
        <div class="row">
          <div class="col-sm-3">
            <button routerLink="/evenement/modifEvenement/{{evenement.id}}" type="button" class="btn btn-outline-warning">Modifier</button>
          </div>
          <div class="col-sm-3">
            <button type="button" class="btn btn-outline-danger" (click)="suppEvenement(evenement)">Supprimer</button>
          </div>
        </div>
      </td>
    </tr>
    </tbody>
  </table>
</div>
